# ///////////////////////////////
# /// EXECUTABLES AND SO ON /////
# ///////////////////////////////
*.com
*.dll
*.exe
*.o
*.so


# ///////////////////////////////
# /// LOGS AND DATABASES ////////
# ///////////////////////////////
*.log
*.sql

# ///////////////////////////////
# /// CLION FILES ///////////////
# ///////////////////////////////
nbproject
.~lock.*
.buildpath
.idea
cmake-build-debug
.project
.settings
composer.lock